.best_product_card {
  position: relative;
}
.top-left-percentage {
  position: absolute;
  top: 8px;
  left: 0px !important;
  width: 50px !important;
  font-size: 13px;
}
.top-left-percentage-trending {
  position: absolute;
  top: 8px;
  left: 0px !important;
  width: 70px !important;
  font-size: 13px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
