.footer{
    padding-top: 20px;
}
.footer_top{
    padding: 40px 0;
    border-bottom: 1px solid #c3c3c3bb;
}
.footer_top h5{
  font-size: 14px;
  font-weight: 400;
  color: #909090;

}
.footer_top h5 span{
    font-weight: 500;
    font-size: 15px;
    color: #333;
}

.footer_main{
    padding: 50px 0;
}

.footer_main_wrap h4{
  font-size: 16px;
  font-weight: 600;
  color: #333;   
  padding-bottom: 15px;   
}
.footer_main_wrap p{
    font-size: 14px;
    font-weight: 400;
    color: #a6a2a2;
}

.footer_main_wrap h5{
    font-size: 15px;
    font-weight: 500;
    color: #595959;
}
.footer_main_wrap ul {
    padding: 0;
    margin: 0;
}
.footer_main_wrap ul li{
    list-style: none;
    margin-bottom: 2px;
}
.footer_main_wrap ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    text-decoration: none;
}
.footer_main_wrap ul li a:hover{
    color: #000;
}

.footer_bottom ul li{
    display: inline-block;
    list-style: none;
}

.footer_bottom ul li a{
    text-decoration: none;
    font-size: 13px;
    color: #737373;
    border-right: 1px solid #c3c3c3;
    padding-right: 10px;
    padding-left: 10px;
}
.footer_bottom ul li a:hover{
    color: #000;
}
.footer_bottom ul li a:last-child{
    border-right: 1px solid transparent;
}
.footer_bottom h6{
    font-size: 14px;
    color: #737373;
    font-weight: 400;
}
