.service_wrapper{
    margin: 60px 0;
}

.service_wrapper_card{
    display: flex;
    width: 100%;
    align-items: center;
}
.service_icon img{
    max-height: 80px;
    max-width: 80px;
    object-fit: contain;
}

.service_text{
    padding-left: 10px;
}

.service_text h4{
    font-size: 18px;
    font-weight: 500;
    color: #191919;
    line-height: 20px;
}
.service_text p{
    font-size: 14px;
    font-weight: 400;
    color: #646464;
    line-height: 10px;
}
